/*estilo geral*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

body{
    background-color: #fafbfc;
    display: flex;
  }

/* estilo da header */

header{
    display: flex;
}

#logo{
    font-family:League Spartan;
    font-size: 1.4em;
    margin: 15% 400% 0% 10%;
}

nav ul{ 
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
nav li {
    margin: 24.5% 10% 0% 10%;
}
nav a{
    color:#010203;
    text-decoration: none;
    font-family:Open Sans;
    font-size: 0.9em;
}

/* main estilo */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    }

#main-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13% 0% 10% 0%; 
    height: 50%;
    }

/* fontes */
h1{
    font-family:League Spartan;
    font-size: 3.5em;
}

h2{
  font-family:Open Sans;
  margin-bottom: 1.5%;
}

p{
    font-family:Open Sans;
    font-size: 1.2em;
    margin-bottom: 2%;
}

img{
    width: 50%;
    border-radius: 5%;
    margin-bottom: 1.5%;
}

/* cards */
#cadastro{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1.8rem;
font-family:League Spartan;
height: 50%;
}

#user-info{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #6d0f0f;
font-size: 1em;
gap: 0.5rem;
border-radius: 16px;
height: 140px;
width: 120%;
}

#movie-info, #lastSection{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
background-color: #6d0f0f;
font-size: 1em;
border-radius: 16px;
height: 420px;
width: 130%;
}
#lastSection{
height: auto;
width: 38%;
}
.avaliacaoFinal{
padding: 6%;
margin-top: 7%;
font-size: 1.2em;
font-family:League Spartan;
}

.avaliacaoFinal ul{
    list-style: none;
}

/* botoes e input*/
button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 16px;
    width:90px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family:League Spartan;
    margin-bottom: 10%;
}

button:hover {
    background-color: #dab0b0;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#submit{
    background-color: #6d0f0f;
    color: #f1f1f1;
    font-size: 1.2em;
}

.edit, .delet{
    margin-top: 6%;
        background-color:#f1f1f1;
        color: #6d0f0f;
        width:90px;
        height: 30px;
        border-radius: 16px;
        font-family:League Spartan;
        font-size: 1em;
    }

    input{
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: 0;
        }

/*responsividade*/
@media (max-width: 480px){
header{
    display: none;
}
    main{
        width: 100%; /* Ajusta para 100% da largura */
        margin:2% 6% 2% 6%; /*topo direita embaixo e esquerda*/
    }

#lastSection{
    margin-top: 10%;
    height: auto;
    width: 45%;
    }

}
